# This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).

module ThingSpaceConnectivityManagementApi
  class SessionController < BaseController
    @@instance = SessionController.new
    # Singleton instance of the controller class
    def self.instance
      @@instance
    end

    # Returns a new, randomly generated password for the current username
    # @param [SessionResetPasswordRequest] request Required parameter: Current Password
    # @param [String] vz_m_2_m_token Required parameter: M2M-MC Session Token
    # @return SessionResetPasswordResponse response from the API call
    def update_reset_using_put(request, 
                               vz_m_2_m_token)
      # the base uri for api requests
      _query_builder = Configuration.base_uri.dup

      # prepare query string for API call
      _query_builder << '/session/password/actions/reset'

      # validate and preprocess url
      _query_url = APIHelper.clean_url _query_builder

      # prepare headers
      _headers = {
        'user-agent' => 'APIMATIC 2.0',
        'accept' => 'application/json',
        'content-type' => 'application/json; charset=utf-8',
        'api_key' => Configuration.api_key,
        'VZ-M2M-Token' => vz_m_2_m_token
      }

      # Create the HttpRequest object for the call
      _request = @http_client.put _query_url, headers: _headers, parameters: request.to_json
      
      # Call the on_before_request callback
      @http_call_back.on_before_request(_request) if @http_call_back

      # Invoke the API call and get the response
      _response = @http_client.execute_as_string(_request)

      # Wrap the request and response in an HttpContext object
      _context = HttpContext.new(_request, _response)

      # Call the on_after_response callback
      @http_call_back.on_after_response(_context) if @http_call_back

      # Endpoint error handling using HTTP status codes.
      if _response.status_code == 400
        raise RestErrorResponseException.new '400 - Error Response', _context
      end

      # Global error handling using HTTP status codes.
      validate_response(_context)

      # Return appropriate response type
      decoded = APIHelper.json_deserialize(_response.raw_body)
      return SessionResetPasswordResponse.from_hash(decoded)
    end

    # Ends a Connectivity Management session.
    # @param [String] vz_m_2_m_token Required parameter: M2M-MC Session Token
    # @return LogOutRequest response from the API call
    def create_logout_using_post(vz_m_2_m_token)
      # the base uri for api requests
      _query_builder = Configuration.base_uri.dup

      # prepare query string for API call
      _query_builder << '/session/logout'

      # validate and preprocess url
      _query_url = APIHelper.clean_url _query_builder

      # prepare headers
      _headers = {
        'user-agent' => 'APIMATIC 2.0',
        'accept' => 'application/json',
        'api_key' => Configuration.api_key,
        'VZ-M2M-Token' => vz_m_2_m_token
      }

      # Create the HttpRequest object for the call
      _request = @http_client.post _query_url, headers: _headers
      
      # Call the on_before_request callback
      @http_call_back.on_before_request(_request) if @http_call_back

      # Invoke the API call and get the response
      _response = @http_client.execute_as_string(_request)

      # Wrap the request and response in an HttpContext object
      _context = HttpContext.new(_request, _response)

      # Call the on_after_response callback
      @http_call_back.on_after_response(_context) if @http_call_back

      # Endpoint error handling using HTTP status codes.
      if _response.status_code == 400
        raise RestErrorResponseException.new '400 - Error Response', _context
      end

      # Global error handling using HTTP status codes.
      validate_response(_context)

      # Return appropriate response type
      decoded = APIHelper.json_deserialize(_response.raw_body)
      return LogOutRequest.from_hash(decoded)
    end

    # Initiates a Connectivity Management session and returns a session token required in subsequent API requests.
    # @param [LogInRequest] request Optional parameter: request
    # @return LogInResponse response from the API call
    def create_login_using_post(request = nil)
      # the base uri for api requests
      _query_builder = Configuration.base_uri.dup

      # prepare query string for API call
      _query_builder << '/session/login'

      # validate and preprocess url
      _query_url = APIHelper.clean_url _query_builder

      # prepare headers
      _headers = {
        'user-agent' => 'APIMATIC 2.0',
        'accept' => 'application/json',
        'content-type' => 'application/json; charset=utf-8',
        'api_key' => Configuration.api_key
      }

      # Create the HttpRequest object for the call
      _request = @http_client.post _query_url, headers: _headers, parameters: request.to_json
      
      # Call the on_before_request callback
      @http_call_back.on_before_request(_request) if @http_call_back

      # Invoke the API call and get the response
      _response = @http_client.execute_as_string(_request)

      # Wrap the request and response in an HttpContext object
      _context = HttpContext.new(_request, _response)

      # Call the on_after_response callback
      @http_call_back.on_after_response(_context) if @http_call_back

      # Endpoint error handling using HTTP status codes.
      if _response.status_code == 400
        raise RestErrorResponseException.new '400 - Error Response', _context
      end

      # Global error handling using HTTP status codes.
      validate_response(_context)

      # Return appropriate response type
      decoded = APIHelper.json_deserialize(_response.raw_body)
      return LogInResponse.from_hash(decoded)
    end
  end
end
